section {
  width: 100vw;
  height: 100vh;
}

body {
  overflow-x: hidden;
  background-color: white;
  font-family: monospace;
}

.welcome {
  font-size: 7rem;
  text-align: right;
  margin: 10%;
  color: black;
}

.logoContainer {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.biglogo {
  height: 40vh;
}

.line {
  width: 60vw;
  height: 1.5vh;
  border-radius: 1vw;
  background-color: black;
  position: absolute;
  margin: 2%;
}
.lineBottom {
  right: -30vw;
  bottom: 0;
}
.lineTop {
  left: -30vw;
  top: 0;
}