section {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  background-color: white;
  font-family: monospace;
  scroll-behavior: smooth;
}

.welcome {
  font-size: 7rem;
  text-align: center;
    padding: 5%;
  color: black;
  margin: 0;
}

.logoContainer {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.biglogo {
  height: 40vh;
}
.Nav {
  font-size: 3rem;
  padding: 1%;
}

.navbox {
  position: absolute;
  min-width: 20%;
  bottom: 5%;
  left: 2%;
}
.line {
  width: 60vw;
  height: 1.5vh;
  border-radius: 1vw;
  background-color: black;
  position: absolute;
  margin: 2%;
}
.lineBottom {
  right: -30vw;
  bottom: 0;
}
.lineTop {
  left: -30vw;
  top: 0;
}
.TitleLink {
  font-size: 2.5rem;
  color: black;
  text-decoration: none;
  margin: 1% 5%;
  transition: all 0.2s ease-in-out;
}

.TitleLink:hover {
  margin: 1% 7%;
  cursor: pointer;
  font-weight: 4 00;
  transition: all 0.2s ease-in-out;
}

.SectionTitle {
  font-size: 5rem;
  color: black;
  padding: 2% 0%;
    margin: 2%;
  display: inline;
  position: relative;
}
.half {
  width: 50%;
  margin: 10% 25%;
  vertical-align: middle;
}

.third {
  width: 25%;
  height: 80%;
  float: left;
  margin: 4%;
}

.container {
  width: 80%;
  height: 60%;
  margin: 5% 10%;
  font-size: 2rem;
}

.cardcontainer {
  width: 80%;
  height: 60%;
  margin: 5% 10%;
  font-size: 2rem;
}
.text-center {
  text-align: center;
}

b {
  font-size: 2.2rem;
}

a {
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
}

.linkbutton {
  padding: 2%;
  min-width: 20%;
  max-width: 30%;
  border: 2px solid black;
  color: black;
  text-decoration: none;
  text-align: center;
  transition: all 0.2s ease;
}

.linkbutton:hover {
  background-color: black;
  color: white;
  transition: all 0.2s ease;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.card {
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  height: 100%;
}

.card:hover {
  cursor: pointer;
}

.card_rotate {
  transform: rotateY(180deg);
}

.cardfront {
  position: absolute;
  border: 2px solid black;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  background-color: white;
  backface-visibility: hidden;
  color: black;
}

.cardback {
  position: absolute;
  border: 2px solid black;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20% 4%;
  box-sizing: border-box;
  transform-style: preserve-3d;
  background-color: black;
  backface-visibility: hidden;
  color: white;
  text-align: justify;
  transform: rotateY(180deg);
}

.cardtitle {
  text-align: center;
}

.flip {
  position: absolute;
  bottom: 0;
  right: 0;
}

.personhexagon {
  width: 18vw;
  height: 20vw;
  margin: 1vw;
  position: relative;
  display: inline-block;
  background-color: transparent;
}

.personhexagon:hover {
  cursor: pointer;
}

.hexagonbackground {
  width: 100%;
  height: 100%;
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
}

.persontitle {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 10%;
  text-align: center;
  z-index: 0;
  color: white;
}

.hrow {
  width: 80vw;
}

.hexagonrow2 {
  margin-top: -10vh;
  padding-left: 10vw;
}

.portrait {
  max-height: 27vh;
  position: absolute;
  bottom: 30%;
  left: 30%;
}

.socials {
  margin-left: 20%;
  width: 60%;
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.social {
  height: 40%;
}

.imglink {
  height: 100%;
}

.cardbottom {
  color: white;
  width: 60%;
  height: 5%;
  position: absolute;
  bottom: 5%;
  left: 20%;
  text-align: center;
  text-decoration: none;
  border: 4px solid white;
}