section {
  width: 100vw;
  height: 100vh;
}
  
body {
  overflow-x: hidden;
  background-color: white;
  font-family: monospace;
}

.welcome {
  font-size: 7rem;
  text-align: right;
  padding: 10%;
  color: black;
  margin: 0;
}

.logoContainer {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.biglogo {
  height: 40vh;
}
.Nav {
  font-size: 3rem;
  padding: 1%;
}

.line {
  width: 60vw;
  height: 1.5vh;
  border-radius: 1vw;
  background-color: black;
  position: absolute;
  margin: 2%;
}
.lineBottom {
  right: -30vw;
  bottom: 0;
}
.lineTop {
  left: -30vw;
  top: 0;
}
.TitleLink {
  font-size: 2.5rem;
  color: black;
  text-decoration: none;
  margin: 1% 5%;
}

.TitleLink:hover {
  margin: 1% 7%;
  cursor: pointer;
  font-weight: 4 00;
}

.SectionTitle {
  font-size: 5rem;
  color: black;
  margin: 1% 1%;
  display: inline;
}